#Container {
    display: grid;
    grid-template-columns: repeat(5, 800px);
    gap: 16px;
}

.card {
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    transition: ease-in .2s;
    
    
}

.textMonth {
    color: yellow;
    font-size: 30px;
}

.date {
    color: white;
    font-size: 50px;
    line-height: 100px;
}

.card:hover {
    transform: scale(1.5);
    background-color: yellow;
}

.card:hover .textMonth {
    color: #00008b;
}

.card:hover .date {
    color: #00008b;
}

body {
    background-color: #00008b;
}

div {
    text-align: center;
    font-size: large;
    font-weight: bold;
    /* line-height: 50px; */

}

@media (max-width:500px) {
    #Container {
        grid-template-columns: repeat(3, 200px);
    }
}

@media (min-width:501px) and (max-width:1024px) {
    #Container {
        grid-template-columns: repeat(4, 200px);
    }
}

@media (min-width:1025px) {
    #Container {
        grid-template-columns: repeat(5, 200px);
    }
}


/* The Modal (background) */
.popup-background {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    /* Enable scroll if needed */
}

.popup-content {
    background-color: #00008b;
    margin: auto;
    padding: 20px;
    border: 2px solid yellow;
    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    position: relative;
  

}
#popup-id{
    position:relative;
    line-height:100px;
  
}

.close {
    color: yellow;
    font-weight: bold; 
    font-size: 20px; 
    position: absolute;
    top: 0;
    right:0;
    padding: 5px;
    margin: 5px;
    background-color:darkblue;
    border:1px solid yellow;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ---- reset ---- */

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
     z-index: -1;
    
  }
  
